// Push Utilities




// Dependencies
//   Settings.Default
//   Settings.Column
//   Settings.Breakpoint




// Options

$iota-push            : true;
$iota-push-namespace  : push !default;
$iota-push--res       : false !default;




@each $column-size in $iota-column-sizes {

  @for $i from 1 through ($column-size - 1) {

    .#{$iota-utility-namespace}#{$iota-push-namespace}-#{$i}\/#{$column-size} {
      margin-left: ((100 / $column-size) * $i) * 1% !important;
    }

  }

}




// Responsive Push Utilities

@if ($iota-push--res == true) {

  @each $name, $size in $iota-breakpoint-sizes {

    @media #{$size} {

      @each $column-size in $iota-column-sizes {

        @for $i from 1 through ($column-size - 1) {

          .#{$iota-utility-namespace}#{$iota-push-namespace}-#{$i}\/#{$column-size}\@#{$name} {
            margin-left: ((100 / $column-size) * $i) * 1% !important;
          }

        }

      }

    }

  }

}
